.form-mainSite__input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden; /* Добавляем, чтобы содержимое не выходило за границы блока */
}

.country-code-dropdown {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}

.country-flag img {
    width: 20px; /* Установите желаемые размеры для изображения флага */
    height: auto;
}

#country_code {
    border: none;
    padding: 5px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; /* Добавляем указатель курсора для лучшей интерактивности */
}

#country_code:focus {
    outline: none;
}

.form-mainSite__input input[type="text"] {
    border: none;
    padding: 10px 5px;
    flex-grow: 1;
    font-size: 16px; /* Устанавливаем размер шрифта для текста */
}

.form-mainSite__input input[type="text"]::placeholder {
    text-align: center; /* Центрируем плейсхолдер */
}

.form-mainSite__input input[type="text"]:focus {
    outline: none;
}

/* Эти стили добавляют небольшой отступ слева от текстового поля, чтобы текст не перекрывал иконку */
.form-mainSite__input input[type="text"] {
    padding-left: 36px; /* Вы можете увеличить это значение, если иконка больше */
}

/* Стили для корректировки позиции флага, чтобы он не занимал много места */
.country-flag {
    position: absolute;
    margin-left: 10px; /* Расстояние от левого края контейнера до флага */
}

/* Добавляем относительное позиционирование для контейнера, чтобы абсолютное позиционирование флага работало корректно */
.form-mainSite__input {
    position: relative;
}
