@charset "UTF-8";
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/main.jpg) center center/cover no-repeat;
}
@media (max-width: 768px) {
  .promo {
    background: url(../img/main.jpg) left center/cover no-repeat;
  }
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
@media (max-width: 560px) {
  .promo__wrapper {
    align-items: center;
    margin-top: 40px;
  }
}
.promo__header {
  color: #ffffff;
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
@media (max-width: 768px) {
  .promo__header {
    font-size: 30px;
    text-align: center;
  }
}
.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 560px) {
  .promo__subheader {
    font-size: 18px;
    text-align: center;
  }
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .promo__icons {
    margin-top: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 300px;
  }
}
.promo__icon {
  width: 108px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 360px) {
  .promo__icon {
    font-size: 12px;
    max-width: 90px;
  }
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
@media (max-width: 360px) {
  .promo__link {
    font-size: 12px;
  }
}
.promo__link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 250px;
}
@media (max-width: 650px) {
  .header__logo {
    max-width: 200px;
  }
}
@media (max-width: 400px) {
  .header__logo {
    max-width: 150px;
  }
}
.header__logo img {
  width: 100%;
}
.header__official {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.header__official span {
  display: block;
  font-size: 18px;
}
@media (max-width: 650px) {
  .header__official span {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .header__official {
    display: none;
  }
}
.header__phone {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 650px) {
  .header__phone {
    font-size: 12px;
  }
}
.header__phone:hover {
  color: #fff;
  text-decoration: none;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  font-size: 16px;
}
@media (max-width: 400px) {
  .button {
    max-width: 120px;
    font-size: 10px;
  }
}
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}
@media (max-width: 400px) {
  .button_submit {
    font-size: 14px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
  }
}

.advantages {
  padding: 70px 0 80px 0;
  background-color: #f6f6f6;
}
@media (max-width: 768px) {
  .advantages {
    padding: 40px 0 30px 0;
  }
}
.advantages__wrapper {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .advantages__wrapper {
    justify-content: center;
    margin-top: 35px;
    flex-wrap: wrap;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 238px;
}
.advantages__subtitle {
  margin-top: 38px;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
}
.advantages__descr {
  margin-top: 26px;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.advantages__descr a {
  color: #ff0000;
  text-decoration: underline;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  text-align: left;
  font-size: 36px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 800px) {
  .title_left {
    font-size: 26px;
  }
}
@media (max-width: 660px) {
  .title_left {
    text-align: center;
  }
}
@media (max-width: 440px) {
  .title_left {
    font-size: 20px;
  }
}

.consultation {
  min-height: 680px;
  padding: 102px 0 108px 0;
  background: url(../img/consultation.jpg) top center/cover no-repeat;
}
@media (max-width: 440px) {
  .consultation {
    padding: 50px 0 50px 0;
    min-height: 400px;
  }
}
.consultation__descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 660px) {
  .consultation__descr {
    text-align: center;
    font-size: 16px;
  }
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 50px;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form_mt25 {
  margin-top: 25px;
}
@media (max-width: 660px) {
  .feed-form {
    width: 100%;
  }
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}
@media (max-width: 775px) {
  .carousel__inner {
    width: 100%;
    padding: 40px 0;
  }
}
@media (max-width: 555px) {
  .carousel__inner {
    padding: 20px 0;
  }
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}

.slick-slide img {
  width: 100%;
}

/* Стили для контейнера точек */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 20px 0; /* Регулируйте отступ в зависимости от дизайна */
}

/* Стили для каждой точки */
.slick-dots li {
  margin: 0 5px; /* Регулируйте отступ между точками */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px; /* Размер точек */
  height: 20px;
  border-radius: 50%; /* Делает точку круглой */
  background-color: #fff; /* Цвет фона точек */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

/* Стили для кнопок (точек) */
.slick-dots button {
  color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; /* Размер шрифта точек */
  background-color: #ddd; /* Цвет фона точек */
  border: none;
  border-radius: 50%; /* Делает точку круглой */
  width: 20px; /* Размер точек */
  height: 20px;
  cursor: pointer;
}

/* Стили для активной точки */
.slick-dots .slick-active button {
  background-color: #f11f1f; /* Цвет активной точки */
  color: #fff; /* Цвет текста активной точки */
}

/*# sourceMappingURL=style.css.map */
