/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap&subset=cyrillic-ext");

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html, body {
    height: 100%;
    line-height: 1;
}

html {
    font-size: 16px; /* по умолчанию */


}

body {
    box-sizing: border-box;


}

.wrapper {
    max-width: 1000px;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/* ------------------------------ */

.title {
    font-weight: bold;
    font-size: 30px;
    margin: 50px;
}

.title::after {
    content: "";
    height: 2px;
    width: 56px;
    margin: 15px 0 0 0;
    background-color: #1eacc7;
    display: block;
}

.content {
    margin: 20px;
    padding: 20px;
}

.content:before {
    content: "";

}

.content:after {
    content: "";
}

li:not(:last-child) {
    margin: 0 0 20px 0;
}