/*
&display=swap
&subset=cyrillic-ext
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    line-height: 1;
    font-family: "Roboto", sans-serif;
    color: #4b4b4b;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1020px;
    margin: 0 auto;
}


/* ------------------------------ */

.promise {
}

.promise__container {
}

.promise__header {
    margin: 0 0 68px 0;
}

.titles {
}

.titles *:not(:last-child) {
    margin: 0 0 33px 0;
}

.titles__label {
    background: url("../img/icons/Overline Mark.svg") 0 -2px no-repeat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 2.5px;
    color: #5D62B5;
    text-transform: uppercase;
    padding: 0 0 0 35px;
}

.titles_item {
    font-size: 36px;
    font-weight: 900;
    line-height: 116.667%;
    color: #000;
}









